body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#root h2, #root h3, #root h4, #root h5, #root h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#root div {
  font-family: "Open Sans", sans-serif;
}
